.row {
  padding-block: 5px;
  padding-inline: 5px;
  display: flex;
  align-items: center;
  width: 100%;

  background-color: #eee;
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.header {
  @extend .row;
  margin-bottom: 5px;
  padding-left: 40px;

  font-weight: bold;
  color: #fff;
  background-color: #555;

  & svg {
    fill: #fff;
  }
}
